    # Be sure to only have this line once in your configuration
    NameVirtualHost 127.0.0.1:80

    # This is the configuration for sistemacnpintag
    Listen 127.0.0.1:80

    <VirtualHost 127.0.0.1:80>
      ServerName sistemacnpintag.localhost
      DocumentRoot "C:\PHP\Desarrollo\SistemaInspeccion\web"
      DirectoryIndex index.php
      <Directory "C:\PHP\Desarrollo\SistemaInspeccion\web">
        AllowOverride All
        Allow from All
      </Directory>

      Alias /sf "C:\PHP\Desarrollo\SistemaInspeccion\lib\vendor\symfony\data\web\sf"
      <Directory "C:\PHP\Desarrollo\SistemaInspeccion\lib\vendor\symfony\data\web\sf">
        AllowOverride All
        Allow from All
      </Directory>
    </VirtualHost>
